:root {
  --tyrell: rgba(44, 107, 63, 0.85);
  --baratheon: rgba(158, 142, 83, 0.85);
  --arryn: rgba(125, 146, 139, 0.85);
  --tully: rgba(82, 82, 94, 0.9);
  --stark: rgba(147, 137, 112, 0.85);
  --lannister: rgba(186, 168, 58, 0.85);
  --targaryen: rgba(170, 43, 34, 0.85);
  --martell: rgba(170, 96, 27, 0.85);
  --greyjoy: rgba(114, 96, 50, 0.85);
  --background: rgba(83, 69, 43, 0.9);
  --text: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "game_of_thronesregular";
  src: url("./assets/fonts/game-of-thrones-webfont.woff2") format("woff2"),
    url("./assets/fonts/game-of-thrones-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes right {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

// @media screen and (max-width: 500px) {
//   html {
//     font-size: 12px;
//   }
// }

.background-container {
  width: 100%;
  height: 100%;

  .background-picture {
    position: fixed;
    width: 150%;
    height: 500%;
    background-image: url(/assets/westeros_map.jpg);
    background-size: cover;
    overflow: hidden;
  }
}

.container {
  position: absolute;
  height: 100vh;
  width: 80%;
  max-width: 82rem;
  display: grid;
  grid-template-rows: 15% 80% 5%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: "game_of_thronesregular";
    font-size: 2rem;
    padding: 1rem;
    color: var(--text);
    letter-spacing: 0.7rem;
    background-color: var(--background);
    border-radius: 0.8rem;
  }
}

.content-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.navbar {
  display: flex;
  align-items: center;

  .menu-container {
    margin: 0 auto;
    width: 90%;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 13rem;
  margin: 0.7rem auto;
  background-color: var(--background);
  color: var(--text);
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 0.8rem;

  .menu-item-img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0.7rem;
    transition: all 0.8s ease-in;
  }

  span {
    position: fixed;
    margin-left: 3rem;
    font-weight: bold;
    animation: right 1s forwards;
  }

  &:hover > .menu-item-img {
    position: absolute;
    margin-left: 9rem;
    transition: all 0.5s ease-in;
  }

  &:hover > span {
    animation: left 0.1s forwards;
  }

  &:hover {
    background-color: var(--stark);
    transition: 0.5s ease-in;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  // background-color: var(--stark);
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  color: var(--text);

  .house {
    font-family: "game_of_thronesregular";
    margin-bottom: 1rem;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .shield {
    height: 10rem;
    width: auto;
    margin: 0 0 1rem;
  }

  .slogan {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .description {
    padding: 0 1rem;
    text-align: center;
    font-weight: bold;
  }
}

.content-img-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .content-img {
    display: flex;
    height: 8rem;
    width: 8rem;
    margin: 0.5rem 0;
    background-color: var(--stark);
    border-radius: 50%;
    background-size: cover;
    border: 0.1rem solid black;
  }
}

footer {
  font-family: "game_of_thronesregular";

  h3 {
    margin-top: 0.7rem;
  }
}
