:root {
  --tyrell: rgba(75, 179, 153, 0.8);
  --baratheon: rgba(247, 243, 223, 0.8);
  --arryn: rgba(226, 225, 225, 0.8);
  --tully: rgba(153, 153, 153, 0.8);
  --stark: rgba(85, 58, 24, 0.8);
  --lannister: rgba(145, 163, 65, 0.8);
  --targaryen: rgba(196, 29, 29, 0.8);
  --martell: rgba(189, 137, 42, 0.8);
  --greyjoy: rgba(126, 100, 16, 0.8);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "game_of_thronesregular";
  src: url("./assets/fonts/game-of-thrones-webfont.woff2") format("woff2"), url("./assets/fonts/game-of-thrones-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes right {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes right {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  background-image: url(/assets/westeros_map.jpg);
  background-position: center;
}

.container {
  height: 100vh;
  width: 80%;
  max-width: 82rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 80% 5%;
      grid-template-rows: 15% 80% 5%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container h1 {
  font-family: "game_of_thronesregular";
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 0.7rem;
  background-color: var(--baratheon);
  border-radius: 0.8rem;
}

.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu-container {
  margin: 0 auto;
  width: 90%;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 11.7rem;
  margin: 0.7rem auto;
  background-color: var(--baratheon);
  border-radius: 0.8rem;
}

.menu-item .menu-item-img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 0.7rem;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.menu-item span {
  position: fixed;
  margin-left: 3rem;
  font-weight: bold;
  -webkit-animation: right 1s forwards;
          animation: right 1s forwards;
}

.menu-item:hover > .menu-item-img {
  position: absolute;
  margin-left: 9rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-item:hover > span {
  -webkit-animation: left 0.1s forwards;
          animation: left 0.1s forwards;
}

.menu-item:hover {
  background-color: var(--stark);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background-color: var(--stark);
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}

.content-info .house {
  font-family: "game_of_thronesregular";
  margin-bottom: 1rem;
  color: white;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.content-info .shield {
  height: 10rem;
  width: auto;
  margin: 0 0 1rem;
}

.content-info .slogan {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}

.content-info .description {
  padding: 0 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.content-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.content-img-container .content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  width: 8rem;
  margin: 0.5rem 0;
  background-color: var(--stark);
  border-radius: 50%;
  background-image: url("/assets/members/member-stark-1.jpg");
  background-size: cover;
  border: 0.1rem solid black;
}

footer {
  font-family: "game_of_thronesregular";
}

footer h3 {
  margin-top: 0.7rem;
}
/*# sourceMappingURL=style.css.map */